.box-members__mugshot {
  position: relative;
  max-width:30%;
  margin: 0px auto 6%;
}
.box-members__mugshot-frame{
  position: absolute;
  top:0;
  left:-17%;
  width:117%;
  height:auto;
}

.box-members__label{
  margin-top: 15px;
  text-align: center;
}

.active .box-members__image{
  position: relative;
  &:after{
    content:".";
    color:transparent;
    background-color: @brand-primary;
    width:100%;
    height:100%;
    top:0;
    left:0;
    .opacity(.6);
    position: absolute;
  }
}