.box-members {
  margin-bottom:50px;
}
.box-members__mugshot {
  position: relative;
  max-width:35.5%;
  margin: 0px auto 6%;
}
.box-members__mugshot-frame{
  position: absolute;
  top:0;
  left:-17%;
  width:117%;
  height:auto;
}
.box-members__name {
  text-transform: uppercase;
  margin-top: 2* @line-height-computed;
  margin-bottom: @line-height-computed;
}
.box-members__label{
  margin-top: 15px;
  text-align: center;
  > .small {
    line-height: 22px;

  }
}

.active .box-members__image{
  position: relative;
  &:after{
    content:".";
    color:transparent;
    background-color: @brand-primary;
    width:100%;
    height:100%;
    top:0;
    left:0;
    .opacity(.6);
    position: absolute;
  }
}