.l-main-head {
  text-align: center;
  padding-bottom: 107px;
  position: relative;
  min-height:800px;
}


.l-module {
 .img-responsive {margin: 0px auto;}
}

.methodology-animation {
  position: relative;
  height: 0;
  padding-bottom:83%;
  > .img-responsive {
    left:8.5%;
    top:0;
    width:83%;
    position: absolute;
    .opacity(0);
    .transition(opacity .3s ease-in-out);
  }
  .shown {.opacity(1);}
}




.service-label {
  text-align: center;
  color:white;
  text-transform: uppercase;
  font-family: @btn-font-family;
  font-weight: 700;
  margin: 0 auto;
}
.advisor__name {
  text-transform: uppercase;
  color: white;
  margin-bottom: 0;
  margin-top: 20px;
  line-height: 1.4em;
  font-weight: 700;
}
.advisor__company {margin-bottom: 0;line-height: 1.6em;font-size: @font-size-small;}
.advisor__role {
  line-height: 1.6em;
  font-weight: 700;
  margin-bottom: 50px;
  font-size: @font-size-small;
}


.l-module__section-header {
  margin:  0 auto;
  text-transform: uppercase;
  margin-bottom: 60px;
  background: url('../img/bg_title.png') left center repeat-x;
  > span {  padding: 0 10px; display: inline-block; }
}

.l-mini__section-header {
  height: 1px;
  line-height: 1px;
  text-align: center;
  margin-bottom: 2em;
  text-transform: uppercase;
  > span {
    line-height: 1.2em;
    padding: 0px 30px;
    display: inline-block;
    vertical-align: bottom;
    margin-top:-.5em;
  }
}

.l-outer__black .l-mini__section-header, .l-outer__dark .l-mini__section-header {
  background-color: white;
  > span{background: black;color: white;}
}



.l-outer__gray .l-module__section-header > span{background: #e1e1e2;}
.l-outer__white .l-module__section-header > span{background: white;}
.l-outer__orange .l-module__section-header > span{background: #EB5942;}

.section-heading {
  margin-bottom: 40px;
  .l-module__section-header {
    white-space: nowrap;
    padding: 0 10px;
    background: none;
    margin-bottom: 0;
    color:@brand-primary;
  }
  .bg {
    background: url('../img/bg_orange.png') left center repeat-x;
  }
}

.single-client-logo {margin-bottom:35px;}
.single-adv {text-align: center;margin-bottom: 40px;}


@media (min-width: @screen-xs-min) {
  .service-label {
    letter-spacing: @letter-spacing-large;
    font-size: @font-size-h3 + 1px;
    margin-top:35px;
  }
  .btn {min-width:200px;}
}
@media (min-width: @grid-float-breakpoint) {
  .l-main-head {
    padding-top: 150px;
    padding-bottom: 130px;
  }
  .l-module__section-header > span {  padding: 0 50px; }
  .section-heading .l-module__section-header {  padding: 0 50px; }
}



