.navbar.affix {background-color: #000;}

.l-module {
 .img-responsive {margin: 0px auto;}
}


.service-icon {
  background-image: url("../img/home_methodology/services.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  width:209px;
}
.service-label {
  font-size: @font-size-h3;
  color:white;
  text-transform: uppercase;
  font-family: @btn-font-family;
  margin: 20px auto 30px;
}


.section-heading {
  margin-bottom: 40px;
  h3 {
    white-space: nowrap;
    padding: 0 50px;
    background: none;
    margin-bottom: 0;
    color:@brand-primary;
  }
  .bg {
    background: url('../img/bg_orange.png') left center repeat-x;
  }
}