.portfolio-content {background-color: #e5e5e5;}
.portfolio-top {min-height: 800px;}
.portfolio-nav {
  font-size:60px;
  color:white;
  text-align: center;
  > .hnc-icon {margin: 0 20px;}
}
.portfolio-text {
  padding-top:12px;
}
.iframe-container {
  position: relative;
  padding-bottom: 55.5%;
  height: 0; overflow: hidden;
  border: 5px solid white;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



.l-module__small {
  padding: 50px 0;
  h1 {font-weight: 300; text-transform: uppercase; text-align: left;}
  h4 {font-weight: 400; text-transform: uppercase; text-align: center;}
}

@media (min-width: @grid-float-breakpoint) {
  .resized {min-height:1200px;}
}
