.background-size(@size){
  -webkit-background-size: @size;
  -moz-background-size: @size;
  -o-background-size: @size;
  background-size: @size;
}

.mailto-link {color:inherit; &:hover{color:inherit;}}
.mar-top-1 {margin-top: 1 * @line-height-computed;}
.mar-top-2 {margin-top: 2 * @line-height-computed;}
.mar-top-4 {margin-top: 4 * @line-height-computed;}

@import "../bootstrap/bootstrap";
@import "style";
@import "index";
@import "portfolio";
@import "aboutus";