/*!
 * Hackandcraft v1.0
 *
 * Copyright 2013 HAckandCraft
 *
 */

/* LAYOUT  */

a {
  color: white;
}


.l-outer__gray {
  background: #e1e1e2;
}
.l-outer__white {
  background: white;
}

.l-outer__orange {
  background: #EB5942;
}
.l-outer__black {
  background: black;
}

/* BUTTONS */

.btn_generic {
  display: block;
  margin: 0 auto;
  border: 2px solid #EB5942;
  text-transform: uppercase;
  color: #EB5942;
  width: 177px;
  height: 38px;
  line-height: 38px;
}
.btn_generic:hover {
  color: #EB5942;
  text-decoration: none;
}

.btn_generic__black {
  border-color: black;
  color: black;

}
.btn_generic__black:hover {
  border-color: black;
  color: black;
}
/* HEADER  */
.masthead h1 {
  text-align:  center;
  background: url('../img/logo.png') top center no-repeat;
  margin: 0 auto;
  position: absolute;
  width: 152px;
  height: 23px;
  top: 20px;
  left: 50%;
  margin-left: -76px;
  text-indent: -9999px;
  overflow: hidden;
  z-index: 9999;
}
.masthead h1 a{
  display: block;
}
/* MAIN HEAD MODULE */

.l-main-head {
  text-align: center;
  padding: 150px 0 170px;
  margin: 0 auto;
  position: relative;
}

.btn-ico__down {
  position: absolute;
  background: url('../img/sprite.png') 0 0 no-repeat;
  display: block;
  width: 42px;
  height: 42px;
  bottom: 40px;
  left: 50%;
  margin-left: -21px;
  text-indent: -9999px;
}

/* MAIN MODULE */

.l-module{
  padding: 70px 0;
  margin: 0 auto;
}
.l-module h3 {
  margin:  0 auto;
  text-transform: uppercase;
  margin-bottom: 40px;
  background: url('../img/bg_title.png') left center repeat-x;
}

.l-outer__gray .l-module h3 span{
  background: #e1e1e2;
  padding: 0 50px;
  display: inline-block;
}


/* MAIN MODULE WHITE*/
.l-outer__white .l-module h3 span{
  background: white;
  padding: 0 50px;
}

/* MAIN MODULE ORANGE*/
.l-outer__orange .l-module h3 span{
  background: #EB5942;
  padding: 0 50px;


/* MAIN MODULE ORANGE*/
.l-outer__orange .l-module h3 span{
  background: #EB5942;
  padding: 0 50px;
}}


/* MODULE WORK */
.l-outer__work {
  background: url('../img/bg_works.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}


/* MODULE CLIENTS */
.box-image {
  height: 130px;
  vertical-align: middle;
}
.box-image img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
.clients {
  padding-top: 40px;
}

/* MODULE WORK */
.l-outer__about {
  background: url('../img/bg_about.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

/* MODULE TESTIMONIALS */
.test-text {
 color: white;
 text-align: center;
 margin-bottom: 10px;
}
.test-text span {
  color: #000;
}
.test-name {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

/* MODULE TESTIMONIALS */
.name {
  text-transform: uppercase;
  color: white;
  margin-bottom: 5px;
  margin-top: 20px
}
.company {
  margin-bottom: 5px;
}
.role {
  font-weight: 700;
  margin-bottom: 50px;
}

/* MODULE FOOTER */
.social-outer{
  margin: 0 auto;
  padding:20px 0 50px;
  width: 276px;
}
.social-outer a{
  display: block;
  float: left;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  overflow: hidden;
  margin:0 25px;
}

.fb-ico{
  background: url('../img/sprite.png') no-repeat 0 -50px;
}

.tw-ico{
  background: url('../img/sprite.png') no-repeat 0 -100px;
}
.sk-ico{
  background: url('../img/sprite.png') no-repeat 0 -150px;
}

/* PROJECT PAGE */
.second-navi {
  padding-bottom: 50px;
  margin: 0 auto;
  width: 464px;
}
.second-navi a{
  margin: 0 10px;
}
.trigger-view {
  background: url('../img/sprite.png') no-repeat 0 -300px;
  display: block;
  width: 42px;
  height: 42px;
  text-indent: -9999px;
  overflow: hidden;
}
.box-projects {
  margin-bottom: 50px;
}
.box-projects span {
  text-transform: uppercase;
}
.box-projects__image {
  position: relative;
  margin-bottom: 10px;
  text-align: center;
  background: #EB5942;
}
.box-projects__image a {
  display: block;
}
.box-projects__image a:hover {
  opacity: 0.7;
}
.box-projects__image a img {
   width: 100%;
  height: auto;
  display: block;
}
/* HELPERS */
.marg-top {
  margin-top: 100px;
}
.marg-btm{
  margin-bottom: 30px;
}
.left-align {
  text-align:  left;
}