<div class="col-md-10 col-md-offset-1 text-center">
  <p class="lead"><a class="mailto-link" href="mailto:enquiries@hackandcraft.com">enquiries@hackandcraft.com</a></p>
  <p class="lead">+49 30 420 18 730</p>
  <p class="lead">Petersburger Strasse 94 </br>12047 Berlin, Germany</p>
  <div class="social-outer">
    <a class="contact-ico fb-ico {{ include.invertClass }}" href="https://www.facebook.com/HackAndCraft">facebook</a>
    <a class="contact-ico tw-ico {{ include.invertClass }}" href="https://twitter.com/hackandcraft">twitter</a>
    <a class="contact-ico sk-ico {{ include.invertClass }}" href="#">skype</a>
  </div>
</div>