<div class="col-md-10 col-md-offset-1 text-center">
  <p class="lead"><a class="mailto-link" href="mailto:enquiries@hackandcraft.com">enquiries@hackandcraft.com</a></p>
  <p class="lead">+49 30 420 18 730</p>
  <p class="lead">Petersburger Strasse 94 </br>10247 Berlin, Germany</p>
  <div class="social-outer">
    <div class="col-xs-4">
      <a class="hnc-icon hnc-icon-fb {{ include.invertClass }}" target="_blank" href="https://www.facebook.com/HackAndCraft"> </a>
    </div>
    <div class="col-xs-4">
      <a class="hnc-icon hnc-icon-tw{{ include.invertClass }}" target="_blank" href="https://twitter.com/hackandcraft"> </a>
    </div>
    <div class="col-xs-4">
      <a class="hnc-icon hnc-icon-sk {{ include.invertClass }}" target="_blank" href="skype:henry.mccarney?chat"> </a>
    </div>
  </div>
</div>