---
layout: default
title: Hack and Craft
pagename: portfolio
---

{{ content }}

<div class="l-outer__white">
  <div class="l-module container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3><span>Projects</span></h3>
        <div class="row">
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
          <div class="col-xs-6 col-sm-4 box-projects">
              <div class="box-projects__image">
                <a href="#"><img src="{{ site.baseurl }}static/img/projects/01_expaway.jpg"></a>
              </div>
              <div class="box-projects__label">Project's name</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>